body {
    font-family: 'Mitr', sans-serif;
}

a:hover {
    text-decoration: none;
}

.header-box-search {
    margin-top: 10px;
    padding: 5px;
    border-radius: 0 40px 0 0;
    background-color: #FFFFFF;

}

.body_box-search {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    /*margin-top: 30px;*/


}

.margin-twelve {
    margin-right: 20px;
}

.btn_green {
    background-color: #5FB25F;
}

.btn-compare {
    width: auto;
    font-size: 12px;
    margin: 10px;
    /*border-color: #F44D31 !important;*/
    color: white
}

.slide-size {
    height: 334px;
    background-color: red;
}

.box-background-manager-login {
    background-color: #000000;
    opacity: 0.7;
    /*opacity: 0.6;*/

}

.color-light-orenge {
    /*background: #F44D31;*/
    color: #F44D31;
    padding: .5rem 1rem;

}

.color-light-orenge:hover {
    text-underline: none;
    text-decoration: none;
    color: #F44D31;

}

.color-light-blue {
    background: #6ECCD6;
}

.color-light-blue-fond {
    color: #6ECCD6;
}

.color-dark-blue-fond {
    color: #1E4159;
}

.color-dark-orange-fond {
    color: #F44D31 !important;
}

.btn-light-blue {
    background: #6ECCD6;
    color: #1E4159;
}

.btn-orange-light {
    background: #F44D31;
    color: #f7f7f7;
}

/*.btn_green{*/
/*background: #F44D31;*/
/*color: #f7f7f7;*/
/*}*/

/*.bg_img_login {*/
/*background-image: url("../img_view/bg-login.png");*/
/*background-size: cover;*/
/*height: 600px;*/
/*background-repeat: no-repeat;*/
/*}*/

.bg_img_register {
    background-image: url("../img_view/register.png");
}

/*color*/
.color-higiht-orange-btn {
    color: #EAEAEA;
    border-radius: 5px;
    background-color: #F44D31;
}

.color-border-orange {
    border-radius: 5px;
    border-color: #F44D31 !important;
}

.color-green {
    color: #5FB25F;
}

/*color*/

.setad {
    width: 40px;
    height: auto;
    border-radius: 0 0 0 8px;
    right: 14px;
    background-color: #f7f7f7;
    padding: 2px;

}

.hover_item_room:hover {
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

/*addNewroom*/

.facilities_active {
    -webkit-box-shadow: -1px 14px 6px -3px rgba(244, 77, 49, 0.52);
    -moz-box-shadow: -1px 14px 6px -3px rgba(244, 77, 49, 0.52);
    box-shadow: -1px 6px 26px -3px rgba(244, 77, 49, 0.52);

    -webkit-transition: box-shadow 0.3s linear;
    -moz-transition: box-shadow 0.3s linear;
    transition: box-shadow 0.3s linear;

}

.no_repeat {
    background-repeat: no-repeat;
}

.bg_cover {
    background-size: cover;
}


#background-carousel {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel,
.carousel-inner {
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.item {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

#content-wrapper {
    position: absolute;
    z-index: 1 !important;
    min-width: 100%;
    min-height: 100%;
}

.well {
    opacity: 0.85
}

/*.bg_slide_background {*/
/*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2484c6+66,ffffff+100 *!*/
/*background: #2484c6; !* Old browsers *!*/
/*background: -moz-linear-gradient(top, #2484c6 66%, #ffffff 100%); !* FF3.6-15 *!*/
/*background: -webkit-linear-gradient(top, #2484c6 66%, #ffffff 100%); !* Chrome10-25,Safari5.1-6 *!*/
/*background: linear-gradient(to bottom, #2484c6 66%, #ffffff 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2484c6', endColorstr='#ffffff', GradientType=0); !* IE6-9 *!*/
/*}*/

.bg_corner {
    border-radius: 10px;
    height: 40px;

}
.bg_border_corner_right_and_left{
    border-radius: 10px 10px 0 0;
    height: 40px;
}

.bg-search-box {
    padding: 8px;
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 80%;
    left: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #0c5460;
}

.bg-search-box :hover {
    cursor: pointer;
}

.bg-search-box .hover_item_search :hover {
    background-color: #ccc
}

.bg-active_tab_search {
    background-color: #F44D31 !important;
    color: white !important;
}

.bg_popver_filter {
    z-index: 1;
    position: absolute;
    background-color: whitesmoke;
    height: auto;

}

.hover_compare_room:hover {
    cursor: pointer;
}

/*//3 จุด*/
.threedotother_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shadow_box {
    box-shadow: 0 3px 2px 0 rgba(192, 190, 190, 0.54), 0 6px 20px 0 rgba(176, 176, 176, 0.19);
}

.bg_facility {
    padding: 12px;
    height: auto;
    background-color: #f7f7f7;
}

.img_facility {
    padding: 2px;
    border-radius: 100%;
}

.active_compare_room {
    border-color: #F44D31 !important;
    opacity: 0.8;
}


/*//////////////////////////////////////// responsive//////////////////////////////////////*/

.vdo_desktop {
    display: block;
    position: relative !important;
}

.nav_registor_room {
    display: none;
}

.size_logo {
    width: 120px;
    height: auto;
}

.custom_box_search {
    position: absolute !important;
    margin-top: 180px;
    margin-left: 100px;
}

.img_fordevice {
    display: none;
}

.show_desktop {
    display: block;
}

.show_mobile {
    display: none;
}

.screen_desktop {
    display: block;
}

.hover_item_room_select_compare {
    -webkit-box-shadow: -1px 13px 26px -3px rgba(244, 77, 49, 0.52);
    -moz-box-shadow: -1px 13px 26px -3px rgba(244, 77, 49, 0.52);
    box-shadow: -1px 13px 26px -3px rgba(244, 77, 49, 0.52);

    -webkit-transition: box-shadow 0.3s linear;
    -moz-transition: box-shadow 0.3s linear;
    transition: box-shadow 0.3s linear;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message {
    display: none;
}

.dz-progress {
    display: none;
}

.dz-image img {
    width: 100%;
    height: auto;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 576px) {

    .show_mobile {
        display: block;
    }

    .screen_desktop {
        display: none;
    }

    .show_desktop {
        display: none;
    }

    .vdo_desktop {
        display: none;
    }

    .nav_registor_room {
        display: none;
    }

    .size_logo {
        width: 90px;
        height: auto;
        padding: 0;
    }

    .box-search_device {

        display: block;
    }

    .custom_box_search {
        position: relative !important;
        margin-top: 20px;
        margin-left: 0px;

    }

    .img_fordevice {
        height: auto;
        display: block;
        position: absolute !important;
    }

    .block_position {
        position: relative;
        top: 40px;
    }
}
